.logo {
  position: relative;
  width: 150px;
}
/****** USERS LIST ******/
.users {
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.users h1 {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 30px;
}
.add-user-container {
  width: 90px;
  height: 90px;
}

/* USER CARD */
.user-card {
  width: 90px;
  position: relative;
}
.user-card h2 {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
  color: #717171;
  transition: color 0.3s;
}
.user-card:hover h2 {
  color: #ffffff;
}
.user-card:hover:not(:last-child) img {
  outline: 3px solid #717171;
}
.user-card:last-of-type img {
  width: 50%;
  transition: width 0.2s;
}
.user-card:hover:last-of-type img {
  width: 70%;
}
.user-card:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****** USER SETTINGS ******/
.search-bar[type='search'] {
  background-image: url('/assets/img/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100px;
  border: none;
  font-size: 1.3rem;
  outline: none;
  color: #717171;
  border-bottom: 1px solid #717171;
  background: transparent;
  transition: width 0.3s;
}

.search-bar:focus {
  width: 200px;
}

.img-profile {
  width: 90px;
  border-radius: 10px;
}

.user-settings {
  position: relative;
  right: 0;
  top: 0;
  margin: 50px 0;
}

.dropdown-menu {
  position: relative;
  text-align: center;
}
.dropdown-menu h5 {
  border-bottom: 1px solid #717171;
}

.dropdown-content {
  position: absolute;
  text-align: center;
  height: 90px;
  width: 120px;
  top: 0;
  right: 0;
  transform: translateX(-90px);
  background-color: #000000;
  display: none;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.4s;
}
.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 1;
}
.dropdown-content button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  color: #ffffff;
  font-size: 1rem;
}
.dropdown-content button:hover {
  text-decoration: underline;
}

/****** SHOWS LIST ******/
.user-details h1 {
  text-align: left;
  margin-bottom: 20px;
  display: block;
  margin: 20px 0;
}
.shows-container {
  gap: 10px;
  text-align: center;
}
.shows-container:last-of-type {
  margin-bottom: 50px;
}

.show {
  width: 250px;
  position: relative;
}
.show img {
  object-fit: cover;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
  margin-right: 7px;
  transition: transform 0.4s, opacity 0.4s;
}
.show .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -5px 80px 0px #0e0d0c;
  border-radius: 5px;
  inset: 0;
  transition: transform 0.4s, opacity 0.4s;
}
.show:hover img {
  transform: scale(1.15);
  opacity: 1;
  z-index: 5;
  position: relative;
}

.show:hover .shadow {
  transform: scale(1.15);
  opacity: 1;
  z-index: 5;
  position: relative;
}

/* SEARCH LIST */
.search-results {
  gap: 20px;
}
h4 {
  margin-bottom: 10px;
}
